################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/D2RMap - 30.06.2025Git/v17/.wsuo
/.vs/D2RMap - 30.06.2025Git/v17/DocumentLayout.json
/Diablo2RProject/.vs/Diablo2RProject/v17
/Diablo2RProject/.vs
